SERVERPORT=
DBPORT=
DBHOST=
DBUSERNAME=
DBPASSWORD=
DBNAME=
REDISADDRES=

SMTP_SERVER=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=


BASEURL =


JWT_SECRET=

DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

APIKEY=
OPENAI_API_KEY=
